<div class="container">
    <div class="row">
        <div class="col-6 col-sm-12">
            <h1>Certificaciones digitales</h1>
            <p>La compleción de todos nuestros cursos está validada por insignias digitales de <a href="https://badgr.io/">Badgr</a>. Usando el estándar global <a href="https://openbadges.org/">Open Badges</a> proveemos certificados digitales confiables que pueden ser verificados en cualquier momento de forma pública para comprobar su autenticidad.</p>
        </div>
        <div class="col-6 col-sm-12">
            <img src="/images/logo/badgr.png" />
        </div>
    </div>
</div>