<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h1>Certificaciones digitales con valor curricular</h1>
            <p>La compleción de todos nuestros cursos está validada por insignias digitales de <a href="https://badgr.io/"><strong>Badgr</strong></a>. Usando el estándar global <a href="https://openbadges.org/"><strong>Open Badges</strong></a> proveemos certificados digitales confiables que pueden ser verificados en cualquier momento de forma pública para comprobar su autenticidad.</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <picture>
                <source type="image/avif" srcset="/images/logo/badgr.avif">
                <img src="/images/logo/badgr.png" alt="Logo Badgr.io" width="296" height="140">
             </picture>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h1>Constancias DC-3 avaladas por la STPS</h1>
            <p>Al contar con instructores registrados ante la STPS, podemos emitir <strong>Constancias DC-3</strong> para nuestras capacitaciones con valor ante esta dependencia Federal.</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <picture>
                <source type="image/avif" srcset="/images/logo/stps.avif">
                <img src="/images/logo/stps.png" alt="Logo STPS" width="296" height="196">
             </picture>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <h1>Instructores certificados en herramientas de Google</h1>
            <p>La certificación <strong>Google Certified Educator Level 2</strong> garantiza el dominio de las herramientas de trabajo en la nube y su uso en ambientes educativos.</p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <picture>
                <source type="image/avif" srcset="/images/logo/gce2.avif">
                <img src="/images/logo/gce2.png" alt="Logo Google Certified Educator Level 2" width="296" height="61">
             </picture>
        </div>
    </div>
</div>