---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title}}</h1>
                {% include call.html show_button=false %}
                <div class="content mt-4">{{content}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="https://wa.me/526869462551">Whatsapp</a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="http://m.me/asesoredumx">Messenger</a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="mailto:hola@asesoreducativo.mx">Correo</a>
        </div>
    </div>
</div>
