---
layout: default
bodyClass: "page-services"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">
          {{content}}
          <a class="button button-primary" href="https://wa.me/{{ site.tel }}"><img src="/images/social/whatsapp.svg" height="64" alt="Logo whatsapp" class="svg-contacto"/> Cotizar ahora</a>
        </div>
      </div>
    </div>
  </div>
</div>