---
layout: default
bodyClass: "page-services"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="service service-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="content">
          <p>{{ page.pitch }}</p>
          {{content}}
          {% comment %}
          <a href="mailto:{{ .site.data.contact.email }}&subject=Solicitud%20de%20Cotización%20{{ page.title | url_escape }}" class="cta cotizacion">Solicitar cotización <img src="/images/illustrations/monedas.svg" width="24" /></a>
          <a href="mailto:{{ .site.data.contact.email }}&subject=Solicitud%20de%20Temario%20{{ page.title | url_escape }}" class="cta temario">Solicitar temario <img src="/images/illustrations/documento.svg" width="24" /></a>
          {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</div>